.navbar{
  color: red;
  display: flex;
  align-items: center;

  & img{
    margin: 0 100vh 0 4vh;
  }

  & p{
    margin: 0 6vh;
    font-size: 20px;

    & .selected {
        text-decoration: underline;
    }
  }
}
