@media (max-width: 600px) {
  .container {
    margin: 1rem 1rem;

    & .cardInfos {
      &__mainInfos {
        height: 7rem;

        &__appartementInfos {
          & header {
            font-size: 30px;
          }

          & p {
            margin: 0.5rem 0;
            font-size: 16px;
          }
        }

        &__ownerInfos {
          position: absolute;
          top: 67%;
          left: 50%;
        }

      }

      &__secondaryInfos {
        flex-direction: column;

        &__rating {
          margin-top: 1.5rem;
        }
      }

      &__tertiaryInfos {
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 600px) {
  .container {
    margin: 1rem 6rem;

    & .cardInfos {

      &__mainInfos {
        &__appartementInfos {
          & header {
            font-size: 42px;
          }

          & p {
            margin: 0.5rem 0;
            font-size: 20px;
          }
        }
      }

      &__secondaryInfos {
        align-items: center;
      }

      &__tertiaryInfos {
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
}

.cardInfos {

  &__mainInfos {
    display: flex;
    justify-content: space-between;
    color: #FE605F;

    &__ownerInfos {
      display: flex;
      align-items: center;

      & p {
        margin: 0.5rem 0rem;
        width: 6rem;
        text-align: center;
      }

      & img{
        border-radius: 50%;
        object-fit: cover;
        width: 4rem;
      }
    }
  }

  &__secondaryInfos {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    &__tags {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__tertiaryInfos {
    display: flex;
  }
}
